
<h1>Alta de Grupos</h1>
<form action="/api/music/" method="post">
<h1>Id</h1>
  <input type="text" name="id" >
  <h1>Grupo</h1>
  <input type="text" name="Grupo" >
  <h1>Genero</h1>
  <input type="text" name="Genero" >
  <h1>Link de la imagen</h1>
  <input type="text" name="Link" >
  <h1>Fundación</h1>
  <input type="text" name="Fundacion" >
  <h1>Integrantes</h1>
  <input type="text" name="Integrantes" >
  <input type="submit"  value="Guardar">
</form> 